.slider > button{
	display: block;
    width: 30px;
    height: 30px;
    background-color: #00b451;
    border-radius: 4px;
}
.slider > button:hover{
	display: block;
    width: 30px;
    height: 30px;
    background-color: #00b451;
    border-radius: 4px;
}
.card-container{
	width: 100%;
	padding: 0.3rem;
	max-height: 562px;
}
.card-carousel{
	display: grid;
    position: relative;
	border-radius: 8px;
}
.card-address{
	box-shadow: inset 0rem 2.8rem 0.5rem -1rem rgb(0 0 0 / 35%);
	position: absolute;
	color: #FFF !important;
	width: 100%;
	font-size: .7rem;
	padding: 9px 8px;
	display: flex;
	border-radius: 7px 7px 0 0;
}
.card-pin{
	display: inline-block;
	transform: scale(.8);
}
.card-image{
	display: inline-block;
	border-radius: 8px 8px 0 0;
	width: 100%;
	height: auto;
	max-height: 504px;
    min-height: 382px;
}
.card-information{
	position: absolute;
	bottom: 53px;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	border-radius: 8px 8px 0 0;
	padding: 10px 8px 0px 8px;
}
.card-information-first-section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 3px 0 15px 0;
}
.info-percentage img, .info-percentage p{
	display: inline-block;
	font-size: .8rem;
	margin: 0;
	color: #FFF;
}
.info-percentage progress{
	width: 100%;
	background-color: #00B451;
	height: 3px;
	display: block;
}
.info-lotes{
	align-self: self-end;
}
.info-lotes p{
	color: #008324;
	font-size: .7rem;
	text-transform: uppercase;
	text-align: end;
	margin: 0;
}
.card-information-second-section{
	display: grid;
	grid-template-columns: 4fr 6fr;
	margin: 0px 0 15px 0;
}
.info-paragraphs{
	text-transform: uppercase;
	color: #FFF;
}
.info-paragraph1{
	font-size: .55rem;
	margin: 0;
}
.info-paragraph2{
	font-size: .7rem;
	margin: 0;
	font-weight: bold;
}
.info-button{
	display: grid;
	place-self: center;
	text-decoration: none;
}
.info-button button{
	border: none;
	background-color: #00B451;
	padding: 6px 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: .7rem;
	color: #FFF;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: bold;
}
.card-link{
	color: #FFF;
	text-decoration: none;
}
.card-information-title{
	width: 100%;
	display: grid;
	grid-template-columns: 7fr 3fr;
	padding: 5px 0 5px 7px;
	background-color: #FFF;
	border-radius: 0 0 5px 5px;
	background-image: url('./../../images/card-decoration2.svg');
}
.card-slogan{
	margin: 0;
	font-weight: bold;
}
.card-title{
	margin: 0;
	font-size: .8rem;
}
.card-logo{
	place-self: center;
}