/* INVEST OPORTUNITIES */
.invest-oportunities {
	background-image: url('./../../images/oportunidades.jpg');
	box-shadow: 0px -6rem 5rem 3rem rgb(236 247 234) inset;
	background-size: cover;
	background-position: center;
	padding-top: 4rem;
	position: relative;
}
.invest-image1{
	position: absolute;
	top: 0;
	z-index: 0;
	filter: opacity(.2);
}
.invest-image2{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	filter: opacity(.4);
}
.invest-image3{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	filter: opacity(.1);
}
.invest-image4{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	filter: opacity(.3);
}
.invest-oportunities h1 {
	text-align: center;
	color: #008324;
}

.invest-paragraph {
	width: 40%;
	margin: 1rem auto 2rem auto;
	text-align: center;
	color: #616161;
}

/* WHY LANDRADA */
.why-invest {
	width: 100%;
	display: grid;
	grid-template-columns: 6fr 4fr;
	margin-top: 4rem;
}

.invest-img {
	width: 80%;
	margin: auto;
}

.invest-img img {
	width: 100%;
	max-width: 600px;
	display: grid;
	margin: auto;
}

.invest-info {
	width: 80%;
	text-align: left;
}

.invest-info-title {
	text-align: left;
	line-height: 1.3;
	font-size: 2.5rem;
	margin: 2rem 0;
	color: #008324;
	font-weight: bold;
}

.invest-info-paragraph1 {
	font-weight: bold;
	font-size: 1.05rem;
	color: #000;
}

.invest-info-paragraph2 {
	color: #616161;
}

.invest-info-paragraph3 {
	font-weight: bold;
	margin: 2rem 0 1.8rem 0;
	color: #000;
}

.invest-info-button {
	background-color: #00b451;
	color: #FFF;
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: .8rem;
	margin-bottom: 2rem;
}

/* JOIN */
.join-landrada {
	background-color: rgba(236, 247, 234, 1);
	padding: 2rem 0 4rem 0;
}

.join-title {
	color: #008324;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 2rem 0 1rem 0;
}

.join-paragraph1 {
	width: 60%;
	margin: 2rem auto;
	text-align: center;
	color: gray;
}

.join-form {
	display: grid;
	grid-template-columns: 3fr 7fr;
	width: 80%;
	margin: auto;
	background-color: #FFF;
	border-radius: 15px;
}

.join-logo {
	position: absolute;
	left: 45%;
	right: 50%;
	top: -1rem;
}

.landrada-img {
	position: relative;
}

.join-image {
	border-radius: 15px 0 0 15px;
	width: 100%;
	min-width: 346px;
}
.form-img1{
	position: absolute;
	bottom: 0;
	width: 75px;
	transform: scaleX(-1);;
	right: 0;
}
.form-img2{
	position: absolute;
	bottom: 0;
	width: 75px;
	left: 0;
}
.join-paragraph2 {
	background-color: #1b1f29;
	color: #FFF;
	width: 95%;
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
	padding: 2rem 1rem .7rem 1rem;
	opacity: .8;
	border-radius: 45px 3px 3px 3px;
	font-size: .8rem;
}

.landrada-form {
	width: 89%;
	margin: auto;
}

.form-title {
	width: 80%;
	font-size: 2.2rem;
	margin: 0;
	padding: 2rem 0 0 0rem;
}

.form-title-g {
	font-size: 1.6rem;
	color: #008324;
}

.form-first-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	gap: 1rem;
}

.form-first {
	padding: 15px 18px;
	border: 1px solid #008324;
	border-radius: 5px;
	color: gray;
	box-shadow: -5px 5px 15px rgb(0 0 0 / 7%);
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
	font-size: .95rem;
}

input[type="checkbox"] {
	margin-right: 9px;
	accent-color: #00b451;
	color: #fff;
}

.form-second-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	gap: 1rem;
}

.form-second-text {
	color: #008324;
	margin: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	width: 100%;
	border: 1px solid gray;
	padding: 6px 8px;
	border-radius: 3px;
	background-color: transparent;
}

.form-button {
	width: 100%;
	margin: 2rem auto 1rem auto;
	background-color: #00b451;
	border: none;
	padding: 9px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 1px;
	border-radius: 3px;
	font-weight: bold;
}
@media only screen and (min-width: 300px) and (max-width: 700px){
	.invest-image1{
		width: 100%;
	}
	.invest-oportunities{
		margin-top: 220px;
	}
	.why-invest{
		display: flex;
		flex-direction: column-reverse;
	}
	.invest-info{
		width: 90%;
		margin: 0 auto;
	}
	.invest-info-title{
		text-align: center;
	}
	.invest-info-paragraph1,
	.invest-info-paragraph2,
	.invest-info-paragraph3{
		text-align: center;
	}
	.invest-info-button{
		display: block;
		margin: 1rem auto;
	}
	.join-form{
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}
}