*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .App {
  text-align: center;
} */
/* MAIN */
.main{
  width: 100%;
  z-index: 1;
}
.main div img{
  width: 100%;
  position: relative;
  top: -55px;
}